body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
}
a {
  text-decoration: none;
}
.text-right {
  text-align: right;
}
.mr-2 {
  margin-right: .5rem;
}
.ml-2 {
  margin-left: .5rem;
}
.material-icons, .material-icons-outlined {
  vertical-align: middle;
}
// bg
.bg-warning {
  background-color: $warning;
}

// text
.text-warning {
  color: $warning;
}
.text-success {
  color: $success;
}
.text-primary {
  color: $primary;
}
.text-danger {
  color: $danger;
}
.col-20 {
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 991px) {
    width: 100%;
  }
}
.btn-mobile {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  @media (max-width: 991px) {
    display: inline-block;
  }
}
.hide-mobile {
  @media (max-width: 991px) {
    display: none;
  }
}
.hide-desktop {
  @media (min-width: 992px) {
    display: none;
  }
}