.banner {
  width: 100%;
  min-height: 816px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/Background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 96px;
  @media (max-width: 1280px) {
    background-size: cover;
    background-position: center;
    min-height: auto;
    height: 100vh;
  }
  @media (max-width: 991px) {
    background-size: cover;
    background-position: inherit;
    min-height: auto;
    padding-top: 120px;
    padding-bottom: 30px;
  }
  h1 {
    color: white;
    font-size: 64px;
    line-height: 72px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: -3.4px;
    @media (max-width: 991px) {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -1.4px;
    }
  }
  .action-wrapp {
    display: block !important;
  }
  .btn {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @media (max-width: 991px) {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
.service {
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  img {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: $title-color;
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
}
.about {
  width: 100%;
  max-width: 534px;
  margin-bottom: 40px;
  @media (max-width: 1280px) {
    margin-bottom: 15px;
  }
  &:first-child {
    margin-top: 20px;
    @media (max-width: 1280px) {
      margin-top: 10px;
    }
  }
  .title-head {
    span {
      font-size: 18px;
      color: $title-color;
    }
    h2 {
      font-size: 48px;
      line-height: 56px;
      font-weight: 700;
      color: $title-color;
      margin-bottom: 0;
      @media (max-width: 991px) {
        font-size: 30px;
        line-height: 40px;
      }
    }
    .sub {
      font-size: 36px;
      line-height: 56px;
      font-weight: 700;
      color: $primary;
      @media (max-width: 991px) {
        font-size: 24px;
      }
    }
  }
  p {
    color: $black;
    font-size: 16px;
    line-height: 30px;
    @media (max-width: 1280px) {
      line-height: 24px;
    }
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
}
.benefit {
  padding: 20px 15px 40px 15px;
  box-shadow: 1px 2px 24px 0px #00000040;
  background-color: $white;
  min-height: 246px;
  position: relative;
  letter-spacing: -1px;
  @media (max-width: 991px) {
    margin-bottom: 30px;
    min-height: 20px;
  }
  img {
    margin-bottom: 10px;
  }
  p {
    color: $primary;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    @media (max-width: 1280px) {
      font-size: 24px;
      line-height: 30px;
    }
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
  .more {
    color: $black;
    font-size: 18px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    @media (max-width: 991px) {
      font-size: 14px;
    }
    span {
      font-size: 18px;
      @media (max-width: 991px) {
        font-size: 14px;
      }
    }
  }
}
.pricing {
  background-color: #394149;
  padding: 24px 24px 60px 24px;
  color: $white;
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  &.business-plan {
    background-color: #53C3EC;
  }
  h3 {
    color: $white;
    font-size: 30px;
    font-weight: 700;
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }
  p {
    font-size: 16px;
    @media (max-width: 991px) {
      font-size: 14px;
    }
    &.price {
      font-size: 18px;
      font-weight: 700;
      @media (max-width: 991px) {
        font-size: 14px;
      }
      span {
        font-size: 36px;
        @media (max-width: 991px) {
          font-size: 28px;
        }
      }
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
    li {
      padding-left: 30px;
      position: relative;
      @media (max-width: 991px) {
        font-size: 14px;
      }
      > span {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
        @media (max-width: 991px) {
          font-size: 18px;
        }
      }
    }
  }
  .btn {
    padding-right: 40px;
    font-size: 14px;
  }
}
.concern {
  background-color: $white;
  padding: 10px;
  box-shadow: 1px 4px 24px 0px #00000040;
  padding-left: 90px;
  position: relative;
  min-height: 72px;
  margin-bottom: 30px;
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  > span {
    position: absolute;
    top: 5px;
    left: 8px;
    color: $primary;
    font-size: 64px;
    display: inline-block;
    line-height: 64px;
    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 36px;
    }
  }
  p {
    margin-bottom: 0;
  }
}