<div class="footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="about-footer">
            <img src="./dist/images/logo.png" />
            <p class="mt-3">Al-Awael Information Technology Limited base in Riyadh Alrayan
              direct present to provide IT and Technical services to companies
              that want to reduce their operational costs by providing Virtual
              Desktop & Application Infrastructure and providing a reliable and
              experienced workforce in real time until all result data customer
              already on their screen</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="contact">
            <ul>
              <li>
                <div class="icon">
                  <span class="material-icons">
                    local_phone
                  </span>
                </div>
                <label>Phone</label>
                <p>(+966) 0566036838</p>
              </li>
              <li>
                <div class="icon">
                  <span class="material-icons">
                    mail_outline
                  </span>
                </div>
                <label>Email</label>
                <p>CS@alawaelsky.com</p>
              </li>
              <li>
                <div class="icon">
                  <span class="material-icons">
                    public
                  </span>
                </div>
                <label>Website</label>
                <p>alawaelsky.com</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="menu-footer">
            <h3>Company</h3>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <p>&copy; Copyright Alawael 2021</p>
  </div>
</div>