<div class="header">
  <div class="container d-flex justify-content-between align-items-center">
    <img src="./dist/images/logo.png" />
    <button class="btn-mobile mr-2">
      <span class="material-icons">
        menu
      </span>
    </button>
    <div class="menu hide-mobile">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
