{% set page_id = "Home" %}
{% extends "layout.html" %}

{% block extra_style %}

{% endblock %}
{% block content %}
<div class="menu hide-desktop">
	<button class="btn-mobile mr-2">
		<span class="material-icons">
			close
		</span>
	</button>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Product</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Blog</a></li>
  </ul>
</div>
	<div class="landing-page">
		{% include "header.html" %}
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-8">
						<h1 class="mb-5">Support by expert team formation from Airlines and MRO</h1>
						<div class="d-flex action-wrapp">
							<a href="#" class="btn btn-primary me-4 btn-wide">Get Started For Free</a>
							<a href="#" class="btn btn-light btn-wide">Request Demo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-8">
						<div class="title">
							<span>MANAGED SERVICES</span>
							<h2>Our Service Virtualization</h2>
							<p>Virtualization Is our primary infrastructure which is a tool so that we can connect with our customers anywhere and anytime. Based on VDI consumers only need one desktop or tablet or smartphone screen. them can already enjoy all of our services.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-12">
						<div class="service">
							<img src="./dist/images/cloud-server.png" alt="icon">
							<h3>Support by STC cloud</h3>
							<p>Support by STC cloud we can embed all our software on their servers so that our services for the kingdom of Saudi Arabia become more optimal. Our VDI uses the Citrix application which has been tested in various countries for its reliability. An unquestionable level of security</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="service">
							<img src="./dist/images/24-hours.png" alt="icon">
							<h3>Virtual Desktop Infrastructure</h3>
							<p>With VDI that we have, our customer can see all of our work in real time in anytime and anywhere. Besides that, customer data security is more secure because we protect their data 24/7. In addition, our customers can enjoy the flexibility that we oer. They can watch our process in result of data anytime.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="service">
							<img src="./dist/images/cloud-network.png" alt="icon">
							<h3>Cloud Data Storage</h3>
							<p>Our customer can choose when their data will be stored. We have option on their server, STC cloud , or Google cloud. Until our customer free from worry about their data</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section bg-gray no-padding">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-12 px-0">
						<img src="./dist/images/plane.png" alt="image" class="img-fluid">
					</div>
					<div class="col-lg-6 col-md-12 px-0">
						<div class="px-4 py-2">
							<div class="about">
								<div class="title-head">
									<span>Our Pricing Table</span>
									<h2>Who We Are</h2>
								</div>
								<p>Support by expert team formation from Airlines and MRO with 10-20 years experiences in order to continuously support IT and Technical service our customer. Our team from the best Airlines and MRO will give best quality and eectivity on time performance that our customer never feel before.</p>
							</div>
							<div class="about">
								<div class="title-head">
									<h2>WHY VDI?</h2>
									<span class="sub">We working Real time</span>
								</div>
								<p>Imagine you send email to us, and your request application such as Microsoft oce, adobe, premier , Amos, trax etc, and your request type of machine processor and size of memory then we provide to you for 5 minutes and now you can work anywhere with any device. There is sound good?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section bg-gray">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-8">
						<div class="title">
							<h2>What the benefit:</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-20">
						<div class="benefit">
							<img src="./dist/images/money-loss.png" alt="image" class="img-fluid">
							<p>Reduce cost</p>
							<a href="#" class="more"><span class="material-icons">east </span></a>
						</div>
					</div>
					<div class="col-20">
						<div class="benefit">
							<img src="./dist/images/agile.png" alt="image" class="img-fluid">
							<p>Flexibility</p>
							<a href="#" class="more"><span class="material-icons">east </span></a>
						</div>
					</div>
					<div class="col-20">
						<div class="benefit">
							<img src="./dist/images/scalable.png" alt="image" class="img-fluid">
							<p>Scalability</p>
							<a href="#" class="more"><span class="material-icons">east </span></a>
						</div>
					</div>
					<div class="col-20">
						<div class="benefit">
							<img src="./dist/images/back-up.png" alt="image" class="img-fluid">
							<p>No need back up plan</p>
							<a href="#" class="more"><span class="material-icons">east </span></a>
						</div>
					</div>
					<div class="col-20">
						<div class="benefit">
							<img src="./dist/images/encrypted.png" alt="image" class="img-fluid">
							<p>Security</p>
							<a href="#" class="more"><span class="material-icons">east </span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section bg-blue">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12">
						<div class="title">
							<span>OUR PRICE</span>
							<h2>OUR PRICE INCREDIBLE LOW</h2>
							<p>We familiar with many of software, many type of aircraft, many type strategy to face with many obstacle, and more than 10 years expert team experience that the reason we understand what you need. How to make you satisfy with on time performance</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12">
						<div class="row">
							<div class="col-lg-4 col-md-12">
								<div class="pricing">
									<h3>Basic Plan</h3>
									<p>Vestibulum ante ipsum primis in faucibus orci </p>
									<p class="price"><span>$100.00</span> monthly</p>
									<ul>
										<li><span class="material-icons">check</span> 1 Software </li>
										<li><span class="material-icons">check</span> Team Training From</li>
										<li><span class="material-icons">check</span> 24 Hours Support</li>
									</ul>
									<a href="#" class="btn btn-light">GET STARTED</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<div class="pricing business-plan">
									<h3>Business Plan</h3>
									<p>Vestibulum ante ipsum primis in faucibus orci </p>
									<p class="price"><span>$200.00</span> monthly</p>
									<ul>
										<li><span class="material-icons">check</span> 3 Software </li>
										<li><span class="material-icons">check</span> Team Training From</li>
										<li><span class="material-icons">check</span> 24 Hours Support</li>
									</ul>
									<a href="#" class="btn btn-light">GET STARTED</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<div class="pricing">
									<h3>Company Plan</h3>
									<p>Vestibulum ante ipsum primis in faucibus orci </p>
									<p class="price"><span>$300.00</span> monthly</p>
									<ul>
										<li><span class="material-icons">check</span> 10 Software </li>
										<li><span class="material-icons">check</span> Team Training From</li>
										<li><span class="material-icons">check</span> 24 Hours Support</li>
									</ul>
									<a href="#" class="btn btn-light">GET STARTED</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section bg-map">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-8">
						<div class="title">
							<span>What we offer:</span>
							<h2>REDUCE COST IS OUR CONCERN</h2>
							<p>Virtualization Is our primary infrastructure which is a tool so that we can connect with our customers anywhere and anytime. Based on VDI consumers only need one desktop or tablet or smartphone screen. them can already enjoy all of our services.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-10">
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="concern">
									<span class="number">01</span>
									<p>Production Planning Start SAR 700 Monthly/Aircraft</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="concern">
									<span class="number">02</span>
									<p>Technical Record/Document Scanning Start SAR 500 monthly/Aircraft</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="concern">
									<span class="number">03</span>
									<p>Technical engineering</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="concern">
									<span class="number">04</span>
									<p>Support MCC/ MOC</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="concern">
									<span class="number">05</span>
									<p>Data entry</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="concern">
									<span class="number">06</span>
									<p>Technical Library</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "footer.html" %}
	</div>
{% endblock %}