
.btn {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16);
  font-weight: 500;
  &.btn-wide {
    min-width: 128px;
    padding-left: 35px;
    padding-right: 35px;
  }
  &.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
  }
  &.btn-success {
    color: $white;
  }
  &.btn-warning {
    color: $white;
  }
}