.footer {
  .footer-wrapper {
    background-color: #2A334E;
    padding: 80px 0;
  }
  .about-footer {
    color: $white;
    padding-right: 100px;
    @media (max-width: 991px) {
      padding-right: 0;
    }
  }
  .contact {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        position: relative;
        padding-left: 80px;
        color: $white;
        .icon {
          width: 60px;
          height: 60px;
          background-color: $white;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          > span {
            color: $primary;
            font-size: 32px;
          }
        }
        label {
          font-weight: 700;
          color: $white;
          font-size: 24px;
        }
        p {
          font-weight: 600;
          color: $white;
          font-size: 18px;
        }
      }
    }
  }
  .menu-footer {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $white;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin-bottom: 8px;
        a {
          color: $white;
          font-size: 16px;
        }
      }
    }
  }
  .copy-right {
    text-align: center;
    padding: 20px 0;
    background-color: #0d1019;
    p {
      color: $white;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 500;
    }
  }
}