.header {
  width: 100%;
  min-height: 96px;
  background-color: white;
  padding: 0 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  @include transition(linear 400ms all);
  .logo {
    margin-right: 50px;
  }
  .menu {
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        @media (max-width: 991px) {
          display: block;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $text-color;
          @media (max-width: 991px) {
            display: block;
            padding: 8px 20px;
          }
        }
      }
    }
  }
  .container {
    @media (max-width: 991px) {
      max-width: inherit;
    }
  }
}
.menu {
  .btn-mobile {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  @media (max-width: 991px) {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding: 20px 0;
    background-color: $white;
    @include transition(linear 400ms all);
    z-index: 99;
    padding-top: 40px;
  }
  &.open {
    @media (max-width: 991px) {
      visibility: visible;
      right: 0;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      @media (max-width: 991px) {
        display: block;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $text-color;
        @media (max-width: 991px) {
          display: block;
          padding: 8px 20px;
        }
      }
    }
  }
}