.main {
  overflow-x: hidden;
  .landing-page {
    overflow-x: hidden;
    position: relative;
    &.open {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
      }
    }
  }
}
.title {
  text-align: center;
  margin-bottom: 40px;
  span {
    color: $title-color;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  h2 {
    color: $title-color;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
    font-weight: 700;
    @media (max-width: 991px) {
      font-size: 30px;
    }
  }
  p {
    font-size: 16px;
    line-height: 30px;
    @media (max-width: 991px) {
      margin-bottom: 14px;
    }
  }
}
.section {
  padding: 80px 0;
  background-color: white;
  &.no-padding {
    padding: 0;
  }
  &.bg-gray {
    background-color: #F8F8F9;
  }
  &.bg-blue {
    background-color: #211E3B;
    .title {
      h2 {
        color: $white;
      }
      span {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  &.bg-map {
    background-image: url('../images/blob.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
}
